@font-face {
  font-family: "Helvetica Neue Cyr Roman";
  src: url('../fonts/helveticaneuecyr-roman.otf');
}
@font-face {
  font-family: "Montserrat Regular";
  src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: "Montserrat Medium";
  src: url('../fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: "Montserrat Light";
  src: url('../fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: "Montserrat Bold";
  src: url('../fonts/Montserrat-Bold.ttf');
}
body {
  margin: 0 0;
  padding: 0 0;
}

.flex {
  &-v-center {
    display: flex;
    align-items: center;
  }
}
//HEADER
.header {
  background-color: #ffffff;
  height: 60px;
  &__content {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
  }
}
.profileStatus {
  color: #9da4ab;
  font-family: "Montserrat Light";
  font-size: 12px;
  margin: 7px 2px 0 0;
  &__lang {
    margin-left: 34px;
  }
  &__userMenu {
    &__userIcon {
      margin-right: 9px;
    }
  }
  &__notification {
    margin: 6px 42px 0 0;
    position: relative;
  }
  &__review {
    margin: 4px 41px 0 0;
    & i {
      font-size: 20px;
    }
  }
  &__counter {
    justify-content: center;
    background-color: #f0695c;
    border-radius: 100%;
    font-family: "Montserrat Bold";
    font-size: 10px;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 13px;
    bottom: 17px;
    color: #ffffff;
  }
  &>a {
    color: #c4ccd5;
    text-decoration: none;
  }
  &__caret {
    color: #6b6b6b;
    font-size: 10px;
  }
  &__lang &__caret {
    margin-left: 5px;
  }
  &__userMenu &__caret{
    margin-left: 7px;
  }
}
.logo{
  margin-top: 9px;
  &__link{
    font-family: "Montserrat Light";
    color: #f0695c;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    margin-left: 9px;
  }
}
.dropdown {
  position: relative;
  &__content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100px;
    padding: 10px;
    border: #e2e9f3 solid 1px;
    z-index: 1;
  }
  &:hover &__content {
    display: block;
  }
}

//CONTENT
.wrapper {
  background-color: #fafbfb;
  padding-bottom: 50px;
}
.content {
  width: 1000px;
  margin: auto;
  padding-top: 50px;
  .profileHeader {
    margin-bottom: 50px;
  }
}
.profileContent {
  background-color: #ffffff;
  border: #e2e9f3 solid 1px;
  .about, .portfolio {
    border-bottom: #e2e9f3 solid 1px;
  }
}
.about, .portfolio, .review  {
  margin: 35px 50px;
}

.profileHeader {
  justify-content: space-between;
  &__info {
    display: flex;
    &__textInfo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 36px;
      padding-bottom: 8px;
    }
  }
  &__name {
    font-family: "Montserrat Regular";
    font-weight: normal;
    font-size: 30px;
    margin: 0 0 0 7px;
    color: #666666;
  }
  &__location {
    padding: 2px 0 0 0;
    font-family: "Montserrat Light";
    font-size: 18px;
    margin: 1px 0 0;
    color: #b0b0b0;
    & i {
      margin-right: 4px;
      font-size: 25px;
    }
  }
  &__button {
    width: 200px;
    height: 44px;
    background-color: #85b970;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 16px;
    font-family: "Montserrat Medium";
  }
}

.blockTitle {
  &__content {
    font-family: "Montserrat Regular";
    font-size: 18px;
    font-weight: normal;
    padding-top: 3px;
    margin: 0;
    margin-left: 12px;
    color: #737373;
  }
  &__icon {
    font-size: 16px;
    color: #b0b0b0;
    padding: 4px;
    &_round {
      background-color: #b0b0b0;
      border-radius: 100%;
      color: #ffffff;
    }
  }
}
.about {
  &__content {
    margin-top: 17px;
    font-size: 18px;
    line-height: 25px;
    font-family: "Helvetica Neue Cyr Roman";
    font-weight: normal;
    padding: 3px 0 0 2px;
    color: #666666;
  }
}
.categories {
  padding-left: 4px;
  height: 15px;
  padding-bottom: 46px;
  &__title {
    font-size: 18px;
    height: 15px;
    font-family: "Montserrat Regular";
    color: #78a0d8;
    line-height: 14px;
    margin-right: 20px;
  }
  &__button {
    width: 118px;
    margin-right: 21px;
    font-family: "Montserrat Light";
    font-size: 12px;
    color: #666666;
  }
}
.categories__button {
  width: 120px;
  height: 25px;
  border: #b0b0b0 solid 1px;
  color: #666666;
  outline: none;
  background-color: #ffffff;
  border-radius: 25px;
}
.portfolio {
  padding: 8px 4px 40px 0;
  margin-bottom: 0;
  &__imageContainer {
    padding: 8px 0 0 2px;
    display: flex;
    justify-content: space-between;
  }
  &__imageDummy {
    background-color: #c4ccd5;
    width: 200px;
    justify-content: center;
  }
  .blockTitle__content {
    padding: 0;
    margin-left: 8px;
  }
}
.review {
  margin: 25px 25px 20px;
  padding: 0 24px 0 26px;
  &__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .blockTitle__icon {
    font-size: 25px;
    padding: 2px 0 0;
  }
  .blockTitle__content {
    padding: 0;
    margin-left: 8px;
    word-spacing: 2px;
  }
  .rating {
    display: flex;
    align-items: center;
    &__title {
      font-family: "Helvetica Neue Cyr Roman";
      color: #666666;
      font-size: 16px;
      padding-right: 7px;
      word-spacing: 3px;
    }
  }
  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 34px;
    &__name {
      font-family: "Montserrat Regular";
      font-size: 18px;
      font-weight: normal;
      color: #666666;
      margin: 0 0 13px;
    }
    &__avatar {
      margin-right: 20px;
    }
    &__link {
      font-family: "Helvetica Neue Cyr Roman";
      font-size: 18px;
      text-decoration: none;
      color: #6c98d5;
    }
    &__link:visited {
      color: #6c98d5;
    }
    &__text {
      color: #666666;
      font-family: "Helvetica Neue Cyr Roman";
      font-size: 18px;
      margin: 0;
      padding-right: 12px;
      line-height: 25px;
    }
    &__time {
      font-size: 14px;
      color: #9c9c9c;
      font-family: "Montserrat Light";
    }
    &__time i {
      font-size: 5px;
      line-height: 10px;
      display: table-cell;
      vertical-align: middle;
    }
    & .stars {
      padding: 0;
    }
    & .stars__item {
      margin: 3px 3px 0 2px;
    }
  }
}
.stars {
  padding-right: 5px;
  display: flex;
  &__item {
    font-size: 18px;
    margin-left: 5px;
    color: #c4ccd5;
    &_filled {
      color: #f4ba48;
    }
  }
}
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 42px;
  padding-right: 12px;
  &__container {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
  }
  &__item {
    font-family: "Montserrat Medium";
    font-size: 14px;
    color: #666666;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    &.pagination__item_active a:visited,
    &.pagination__item_active a
    {
      color: #6c98d5;
    }
    &_bordered {
      outline: #e2e9f3 solid 1px;
    }
    & a {
      text-decoration: none;
    }
    &,
    & a:hover,
    & a:visited {
      color: #666666;
    }
    &:first-child,
    &:last-child {
      font-size: 18px;
    }
  }
}
//FOOTER
.footer {
  background-color: #4d4c54;
  color: #ffffff;
  padding-bottom: 62px;
  .content{
    padding-top: 46px;
  }
  .copyright {
    margin-top: 25px;
  }
}
.footerInfo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 31px;
}
.totals {
  display: flex;
  &__registered {
    margin: 0 116px 0 0;
  }
  &__posted {
    margin: 0 0 0 0;
  }
  &__value, &__label {
    margin:  1px 0 0;
  }
  &__value {
    font-family: "Montserrat Medium";
    font-size: 20px;
  }
  &__label {
    font-family: "Montserrat Light";
    font-size: 12px;
  }
}
.socials {
  display: flex;
  align-items: center;
  padding-top: 4px;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 37px;
    height: 37px;
    outline: #ffffff solid 2px;
    margin-left: 33px;
  }
}
.menu {
  display: flex;
  //justify-content: space-between;
  font-size: 16px;
  padding: 30px 0 19px;
  &__title {
    font-family: "Montserrat Medium";
    margin: 0;
  }
  &__submenuItemList {
    list-style-type: none;
    padding: 0;
  }
  &__submenuItem {
    color: #a6a6a6;
    font-family: "Montserrat Light";
    margin-bottom: 11px;
  }
  &__block {
    flex-basis: 255px;
    &:last-child {
      flex-basis: auto;
    }
  }
}
.footerInfo, .menu {
  border-bottom: #68686d solid 1px;
}
.copyright {
  font-family: "Montserrat Light";
  font-size: 12px;
  display: flex;
  align-items: center;
  &__logo {
    margin-right: 27px;
  }
  &__content {
    word-spacing: 1px;
    margin: 0;
  }
}
